.Buttons_11 {
	font-family: automatic;
	font-size: 10px;
}

.Buttons_12 {
	font-family: automatic;
	font-size: 10px;
}

.Buttons_13 {
	font-family: automatic;
	font-size: 12px;
}

.Default {
	font-family: automatic;
	font-size: 12px;
}

