.Buttons_11 {
	font-family: automatic;
	font-size: 11px;
}

.Buttons_12 {
	font-family: automatic;
	font-size: 11px;
}

.Buttons_13 {
	font-family: automatic;
	font-size: 13px;
}

.Default {
	font-family: automatic;
	font-size: 13px;
}

